body {
  max-width: 700px;
  margin: auto;
  background-color: hsl(0, 0%, 3.5%);
  color: hsl(0, 0%, 80%);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  line-height: 1.6;
}

header,
ul,
article,
footer {
  padding: 0.8rem 1.8rem 0.8rem 1.8rem;
  background-color: hsl(0, 0%, 8%);
}

header {
  padding-top: 3rem;
}

.languages {
  color: white;
  background-color: hsl(30, 100%, 35%);
}

.art {
  color: white;
  background-color: hsl(210, 100%, 40%);
}

img {
  width: 100%;
}

a {
  color: currentColor;
  font-weight: bold;
  text-decoration-thickness: 2px;
}

footer {
  margin: 16px 0;
}
