body {
  background-color: hsl(0, 0%, 3.5%);
  color: hsl(0, 0%, 75%);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  max-width: 700px;
  margin: auto;
}

header,
ul,
article,
footer {
  background-color: hsl(0, 0%, 8%);
  padding: 0.8rem 1.8rem 0.8rem 1.8rem;
}

header {
  padding-top: 3rem;
}

h1, h2, h3, h4, h5, h6{
  color: hsl(0, 0%, 80%);
}

a {
  color: currentColor;
  font-weight: bold;
  text-decoration-thickness: 2px;
}

footer {
  margin: 16px 0;
}

/* Soft Page */
.languages {
  background-color: hsl(30, 100%, 35%);
  color: white;
}

/* Art Page */
.art {
  background-color: hsl(210, 100%, 40%);
  color: white;
}

#writing{
  font-family: serif;
}

img {
  width: 100%;
}
