body {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 85%);
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  font-size: 18px;
  line-height: 1.6;
  max-width: 700px;
  margin: auto;
}

h1, h2, h3, h4, h5, h6{
  color: hsl(0, 0%, 90%);
}

}

a {
  color: currentColor;
  font-weight: bold;
  text-decoration-thickness: 2px;
}

details > summary{
  cursor: pointer;
}

img {
  width: 100%;
}
